/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #262626; /* Fundo escuro */
    color: #FFFFFF; /* Texto branco */
}
p {
    color: #FFFFFF; /* Texto branco */
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #757070; /* Ajustado para combinar com o fundo */
    border-radius: 10px;
    background-color: #757070; /* Cinza escuro */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #b9b5b5;
    border-radius: 6px;
    font-size: 16px;
}

button,
#button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 14px 28px;
    background-color: #4CAF50; /* Verde */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none; /* Removido o sublinhado */
}
#button2 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 14px 28px;
    background-color: #cc7a6f; /* Verde */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none; /* Removido o sublinhado */
    margin-top: -5px;
}
#button {
    margin-top: 60px;
    padding: 13px 26px;
    background-color: #cc7a6f; /* Vermelho claro */
    color: #000;
}

button:hover,
#button:hover, #button2:hover {
    background-color: #45a049; /* Verde mais escuro no hover */
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    button,
    #button {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
