/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px; /* Limita a largura máxima */
    margin: 20px auto; /* Centraliza e adiciona margem nos lados */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}   

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
#button{
    padding: 13px 26px;
    background-color: #ff1e00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 15px;

}
button {
    padding: 14px 28px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para o chat */
#messages {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}

#message_input {
    width: calc(100% - 110px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
